
annotated-types==0.7.0
build==1.4.0
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.6
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.1.0
sentence-transformers==2.3.1
qdrant-client==1.7.3
sse-starlette==1.8.2
pypdf2==3.0.1
pyproject_hooks==1.2.0
markdown==3.5.2
requests==2.31.0
numpy==1.26.4
packaging==26.0
setuptools==80.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
wheel==0.46.3
transformers==4.36.2

